.cover {
  background-image: url("../../assets/images/photos/cover/down.jpg");
}

.modal-cover-profile {
  background-image: url("../images/photos/modal/valeria.jpg");
}

.modal-cover-clinical {
  background-image: url("../images/photos/modal/clinical.png");
}

.modal-cover-neuro {
  background-image: url("../images/photos/modal/neuro.jpg");
}

.modal-cover-cognitive {
  background-image: url("../images/photos/modal/cognitive.jpg");
}

.modal-cover-edu {
  background-image: url("../images/photos/modal/edu.jpg");
}

.modal-cover-tele {
  background-image: url("../images/photos/modal/tele.jpg");
}

.modal-cover-training {
  background-image: url("../images/photos/modal/capacitacion.jpg");
}

.step-1 {
  background-image: url("../images/logos/guttmann.png");
}

.step-2 {
  background-image: url("../images/photos/cover/hands.jpg");
}

.step-3 {
  background-image: url("../images/photos/modal/alpes.jpg");
}
